@import 'buttons.css' ;
body {
    background-color: #26B4BC;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    max-inline-size: 900px;
    margin: auto;
}
.player {
    margin-block-start: 100px;
    position : relative ;
}
.player video {
    inline-size: 100%;
    aspect-ratio: 16/9; /* para que no salte */
    vertical-align: middle;
    object-fit: cover;

}
.player_title {
    color: white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}
.player_actions {
    position : absolute;
    /* border: 10px tomato; */
    inset: 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* z-index: 2; */ /* propiedad para que tenga mayor relevancia sobre el otro documento*/ 
}

.player_progress {
    position: absolute;
    inset-block-end: 0 ;
    inset-inline: 0;
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    padding: 10px;
}

.player_progress input {
    flex: 1;
}

.player_overlay {
    position: absolute ;
    inset: 0 ;
    opacity: 0;
    transition: .3s opacity;
}

.player_overlay:hover {
    opacity: 1 ;
    border: 100px red;
}